<div class="dashboard-container" [class.is-mobile] = "mobileQuery.matches">
  <!--Empieza toolbar-->
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-name">Menu</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
            <!--button mat-menu-item>
              <mat-icon>person_outline</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button-->
          </mat-menu>
      </ul>

    </div>
  </mat-toolbar>
  <!--Termina toolbar-->

  <!-- Empieza el sidenav-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <!--Profile-->
        <div class="profile-card">
          <div class="header">
            <h2>Juan J. Ariza</h2>
            <h4>juanjoav010@gmail.com</h4>
          </div>
        </div>

        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
          <mat-icon class="icono">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <!--Termina el sidenav-->

</div>
